* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Mono', monospace;

}

.banner {
    background: linear-gradient(rgba(20, 6, 141, 0.2),#17073d),url(images/background-portfolio.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
}

.nav a {
    text-decoration: none;
}

.nav {
    height:12.5vh;
    
}

.nav ul {
    display:flex;
    list-style: none;
    gap:5vw;
    height:100%;
    align-items: center;
    justify-content: flex-end;
    padding-right:2.5vw;
    background-color:rgba(5, 1, 30, 0.7);
}

.nav ul li a {
    color:white;
    font-weight: 200;
    font-size: 85%;
}
