* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Mono', monospace;

}

.banner {
    background:linear-gradient(rgba(146, 141, 190, 0.2),#00000a),url(images/background-portfolio.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    color:white;
}

.nav a {
    text-decoration: none;
    transition:0.5s;
}

.nav a:hover {
    color:rgb(154, 151, 151);
    cursor: pointer;
    transition:0.5s;
    font-size: 90%;
}

.nav {
    height:12.5vh;
    
}

.nav ul {
    display:flex;
    list-style: none;
    gap:5vw;
    height:100%;
    align-items: center;
    justify-content: flex-end;
    padding-right:2.5vw;
    background-color:rgba(2, 1, 9, 0.5);
}

.nav ul li a {
    color:white;
    font-weight: 200;
    font-size: 85%;
}



.banner-text > h1 {
    font-size:30px;
    font-family: 'Poppins', sans-serif;

}
