* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Mono', monospace;

}

.nav a {
    text-decoration: none;
}

.nav {
    height:10vh;
    
}

.nav ul {
    display:flex;
    list-style: none;
    gap:5vw;
    height:100%;
    align-items: center;
    justify-content: flex-end;
    padding-right:2.5vw;
    background-color:rgb(9, 2, 47);
}

.nav ul li a {
    color:white;
    font-weight: 200;
    font-size: 85%;
}
